/* Intro */
.intro_portfolio {
  background: url("../img/bg/bg-portfolio.jpg") no-repeat center;
  background-size: cover;
}

.quote-clientes {
  margin: 0 auto;
  padding: 60px 0;
  max-width: 460px;
}

.quote-clientes p {
  margin-bottom: 20px;
  @include tipo-2(18);
  text-align: center;
  font-style: italic;
}

.quote-clientes cite {
  float: right;
  @include tipo-1(18);
  font-weight: bold;
  font-style: normal;
  text-align: right;
}

