/* Intro */
.intro_sobre {
  background: url("../img/bg/bg-sobre.jpg") no-repeat center;
  background-size: cover;
}

.missao-sobre {
  padding-top: 60px;
}

.missao-sobre p {
  margin-bottom: 1em;
  padding-right: 60px;

  @include tipo-1(18);
}

.missao-sobre ul li {
  @include tipo-2(18);
  line-height: 30px;
}

.foto-equipe {
  padding-top: 20px;
}